<div class="card">
    <p-table [value]="almacenes()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Sucursal</th>
            </tr>
        </ng-template>
        <ng-template #body let-alm>
            <tr>
                <td>{{ alm.id }}</td>
                <td>{{ alm.nombre }}</td>
                <td>{{ alm.codigo }}</td>
                <td>{{ alm.descripcion }}</td>
                <td>
                    {{ alm.sucursal.nombre }}
                    <small>{{alm.sucursal.direccion}}</small>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>